.background-titulo-bicicletas span {
  text-transform: uppercase;
}

.background-titulo-bicicletas {
  background-color: var(--c12);
  padding-top: 50px;
  padding-bottom: 50px;
}

.background-titulo-bicicletas h1 {
  margin-top: 8px;
}

.background-header {
  background-color: var(--c12);
}

.lista-bicicletas {
  margin-top: 120px;
  margin-bottom: 120px;
}

.conteudo-item-lista-bicicletas h2 {
  font-size: 2.25rem;
  margin-bottom: 20px;
  position: relative;
}

.conteudo-item-lista-bicicletas h2::before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 8px;
  background-color: var(--p01);
  top: -15px;
}

.conteudo-item-lista-bicicletas p {
  max-width: 45ch;
  margin-bottom: 32px;
}

.img-item-lista-bicicletas img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.img-item-lista-bicicletas {
  max-width: 560px;
  object-fit: cover;
  position: relative;
}

.img-item-lista-bicicletas::before {
  content: "R$ 4999";
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 20px;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  background-color: var(--c12);
  padding: 8px 16px 8px 8px;
  border-radius: 5px 0px 0px 5px;
  color: var(--w);
}

.item-lista-bicicletas {
  display: grid;
  grid-template-columns: minmax(280px, 560px) 1fr;
  gap: 40px;
  align-items: center;
}

.item-lista-bicicletas-bg {
  background-color: var(--c12);
  padding-bottom: 60px;
  padding-top: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  box-shadow: 400px 0px 0px 0px inset var(--w);
}

.itens-inferiores-lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
}

.itens-inferiores-lista a {
  justify-self: start;
  align-self: end;
}

.itens-inferiores-lista ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.itens-inferiores-lista li {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.botao-lista {
  display: flex;
  align-items: center;
  gap: 16px;
}

.span-item-2-bikes::before {
  content: "R$ 2499";
}

.span-item-3-bikes::before {
  content: "R$ 3999";
}

@media (max-width: 1366px) {
  .conteudo-item-lista-bicicletas h2 {
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 20px;
  }

  .conteudo-item-lista-bicicletas p {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .itens-inferiores-lista ul {
    font-size: 1rem;
  }
}

@media (max-width: 1150px) {
  .conteudo-item-lista-bicicletas h2 {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 20px;
  }

  .conteudo-item-lista-bicicletas p {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .itens-inferiores-lista ul {
    font-size: 0.9rem;
  }

  .itens-inferiores-lista {
    gap: 60px;
  }

  .conteudo-item-lista-bicicletas h2::before {
    display: none;
  }

  .item-lista-bicicletas-bg {
    box-shadow: initial;
  }
}

@media (max-width: 1050px) {
}

@media (max-width: 950px) {
  .background-titulo-bicicletas h1 {
    font-size: 2.5rem;
  }

  .img-item-lista-bicicletas {
    place-self: start;
  }
}

@media (max-width: 800px) {
  .item-lista-bicicletas {
    display: grid;
    grid-template-columns: minmax(280px, 560px);
    gap: 40px;
    align-items: center;
    justify-content: center;
  }

  .lista-bicicletas {
    margin-top: 60px;
  }

  .img-item-lista-bicicletas {
    justify-self: center;
  }

  .conteudo-item-lista-bicicletas {
    justify-self: start;
  }

  .conteudo-item-lista-bicicletas p {
    max-width: 85ch;
  }

  .itens-inferiores-lista {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 550px) {
  .background-titulo-bicicletas h1 {
    font-size: 2rem;
  }

  .itens-inferiores-lista {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }

  .itens-inferiores-lista {
    place-self: start;
    gap: 25px;
  }
}
