.background-titulo-bicicletas span {
  text-transform: uppercase;
}

.background-titulo-bicicletas {
  background-color: var(--c12);
  padding-top: 50px;
  padding-bottom: 50px;
}

.background-titulo-bicicletas h1 {
  margin-top: 8px;
}

.background-header {
  background-color: var(--c12);
}

.lista-bicicletas {
  margin-top: 120px;
}

.conteudo-item-lista-bicicletas h2 {
  font-size: 2.25rem;
  margin-bottom: 20px;
}

.conteudo-item-lista-bicicletas p {
  max-width: 45ch;
  margin-bottom: 32px;
}

.img-item-lista-bicicletas img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.item-lista-bicicletas {
  display: grid;
  grid-template-columns: auto auto;
}

.itens-inferiores-lista {
  display: flex;
  justify-content: space-between;
}

.itens-inferiores-lista a {
  align-self: end;
}

@media (max-width: 1280px) {
  .img-item-lista-bicicletas img {
    max-width: 480px;
    max-height: auto;
  }
}

@media (max-width: 950px) {
  .background-titulo-bicicletas h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .background-titulo-bicicletas h1 {
    font-size: 2rem;
  }
}
