.background-titulo-bicicletas span {
  text-transform: uppercase;
}

.background-titulo-bicicletas {
  background-color: var(--c12);
  padding-top: 50px;
  padding-bottom: 50px;
}

.background-titulo-bicicletas h1 {
  margin-top: 8px;
}

.background-header {
  background-color: var(--c12);
}

.lista-bicicletas {
  margin-top: 120px;
}

.conteudo-item-lista-bicicletas h2 {
  font-size: 2.25rem;
  margin-bottom: 20px;
  position: relative;
}

.conteudo-item-lista-bicicletas h2::before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 8px;
  background-color: var(--p01);
  top: -15px;
}

.conteudo-item-lista-bicicletas p {
  max-width: 45ch;
  margin-bottom: 32px;
}

.img-item-lista-bicicletas img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.img-item-lista-bicicletas {
  max-width: 560px;
}

.item-lista-bicicletas {
  display: grid;
  grid-template-columns: 560px 1fr;
  gap: 40px;
  align-items: center;
}

.itens-inferiores-lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
}

.itens-inferiores-lista a {
  justify-self: start;
  align-self: end;
}

.itens-inferiores-lista ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.itens-inferiores-lista li {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

@media (max-width: 1366px) {
  .conteudo-item-lista-bicicletas h2 {
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 20px;
  }

  .conteudo-item-lista-bicicletas p {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .itens-inferiores-lista ul {
    font-size: 1rem;
  }
}

@media (max-width: 1150px) {
  .item-lista-bicicletas {
    grid-template-columns: 500px 1fr;
  }

  .img-item-lista-bicicletas {
    max-width: 500px;
  }
}

@media (max-width: 950px) {
  .background-titulo-bicicletas h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .background-titulo-bicicletas h1 {
    font-size: 2rem;
  }
}
