.background-titulo-bicicletas span {
  text-transform: uppercase;
}
.background-titulo-bicicletas h1 {
  margin-top: 8px;
}

.bicicletas-geral {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 950px) {
  .background-titulo-bicicletas h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .background-titulo-bicicletas h1 {
    font-size: 2rem;
  }
}
