.background-footer {
  background-color: var(--c12);
  padding-top: 60px;
  padding-bottom: 32px;
}

.container-principal-footer {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 165px;
}

.informacoes-footer {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.informacoes-footer ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contato-footer ul li,
.contato-footer p {
  color: var(--c05);
}

.informacoes-footer ul li a {
  color: var(--c05);
}

.direitos-autorais {
  font-family: "Roboto", arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1.5%;
  color: var(--c06);
  display: inline-block;
  margin-top: 80px;
}

.redes-sociais-footer {
  display: flex;
  align-items: center;
  gap: 32px;
}

.contato-footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.num-email-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.num-email-footer::after {
  content: "";
  width: 360px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: var(--c11);
  bottom: -18px;
  left: -5px;
}

.endereco-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.endereco-footer::after {
  content: "";
  width: 360px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: var(--c11);
  bottom: -15px;
  left: -5px;
}

@media (max-width: 1440px) {
  .contato-footer h3 {
    font-size: 1.4rem;
    line-height: 1.9rem;
  }

  .num-email-footer li {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .endereco-footer p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .informacoes-footer h3 {
    font-size: 1.4rem;
    line-height: 1.9rem;
  }

  .informacoes-footer ul li a {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 1150px) {
  .informacoes-footer {
    margin-left: 40px;
  }

  .num-email-footer::after {
    width: 240px;
    bottom: -18px;
    left: -5px;
  }

  .endereco-footer::after {
    width: 240px;
    bottom: -15px;
    left: -5px;
  }

  .container-principal-footer {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 120px;
  }
}

@media (max-width: 850px) {
  .container-principal-footer {
    grid-template-columns: auto auto;
    gap: 60px;
  }

  .img-footer img {
    display: none;
  }

  .informacoes-footer {
    grid-row: 1;
  }

  .contato-footer {
    grid-row: 1;
  }
}

@media (max-width: 550px) {
  .container-principal-footer {
    grid-template-columns: 1fr;
    gap: 120px;
    justify-content: center;
    justify-items: center;
  }

  .informacoes-footer {
    grid-row: 2;
    margin-left: 0px;
  }

  .contato-footer {
    grid-row: 1;
  }

  .direitos-autorais {
    margin-top: 20px;
  }
}
