.background-header {
  background-color: var(--c12);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 220px;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-header-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
}

.link-nav-header {
  color: var(--w);
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  position: relative;
}

.link-nav-header::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: var(--w);
  margin-top: 4px;
  transition: 0.4s;
  position: absolute;
}

.link-nav-header:hover::after {
  width: 102%;
}

@media (max-width: 1700px) {
  header {
    padding: 32px 120px;
  }
}

@media (max-width: 1366px) {
  header {
    padding: 32px 60px;
  }

  .link-nav-header {
    font-size: 1.05rem;
  }
}

@media (max-width: 780px) {
  .link-nav-header::after {
    display: none;
  }

  .link-nav-header:hover::after {
    width: 0;
  }
}

@media (max-width: 630px) {
  header {
    flex-direction: column;
    gap: 80px;
  }

  .nav-header-list {
    place-self: center;
    justify-content: center;
  }

  .link-nav-header {
    padding: 10px 20px;
    background-color: var(--c11);
    border-radius: 5px;
  }
}
