.imagem-bike-container-2-hp {
  max-width: 460px;
  display: block;
  border-radius: 5px;
}

.container-2-hp {
  margin-top: -60px;
  margin-bottom: 200px;
  gap: 40px;
}

.titulo-container-2-hp {
  grid-column: 1/-1;
  color: var(--c11);
  text-align: start;
  justify-self: start;
  margin-left: 150px;
}

.container-2-hp-lista {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  padding-bottom: 40px;
}

.container-2-hp-lista li {
  flex: 1;
  min-width: 280px;
}

.titulo-bike-container-2-hp {
  color: var(--c11);
  position: relative;
  display: block;
  transition: transform 0.3s ease;
}

.titulo-bike-container-2-hp::before {
  content: "";
  width: 12px;
  height: 8px;
  display: inline-block;
  position: absolute;
  background-color: var(--p01);
  top: 15px;
  left: -20px;
  transition: 0.2s;
}

.link-container-2-hp-bicicletas:hover .titulo-bike-container-2-hp {
  transform: translateX(12px);
}

.link-container-2-hp-bicicletas:hover .titulo-bike-container-2-hp::before {
  transform: scaleX(2);
  left: -25px;
}

.link-container-2-hp-bicicletas {
  display: inline-block;
}

.texto-bike-container-2-hp {
  margin-left: 20px;
  margin-top: 16px;
}

.preco-bike-container-2-hp {
  display: inline-block;
  color: var(--c08);
  margin-top: 8px;
}

@media (max-width: 1700px) {
  .container-2-hp {
    padding: 0px 120px;
  }

  .titulo-container-2-hp {
    margin-left: 120px;
  }
}

@media (max-width: 1475px) {
  .container-1-hp-coluna-2 img {
    max-width: 600px;
  }

  .titulo-container-2-hp {
    margin-left: 80px;
  }
}

@media (max-width: 1366px) {
  .container-2-hp {
    padding: 0px 60px;
  }
}

@media (max-width: 1280px) {
  .imagem-bike-container-2-hp {
    max-width: 350px;
  }
}

@media (max-width: 1150px) {
  .container-2-hp {
    margin-top: -60px;
    margin-bottom: 120px;
  }

  .imagem-bike-container-2-hp {
    max-width: 250px;
  }

  .titulo-bike-container-2-hp::before {
    top: 12px;
  }
}

@media (max-width: 960px) {
  .container-2-hp {
    margin-top: -100px;
    margin-bottom: 110px;
    padding: 0px 30px;
  }

  .titulo-container-2-hp {
    margin-left: 0px;
  }

  .container-2-hp-lista {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 40px;
    overflow-x: auto;
    padding-bottom: 40px;
  }
}
