.container-4-hp {
  margin-top: 120px;
  margin-bottom: 120px;
}

.parceiros-quatro-prim {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.parceiros-quatro-ultim {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.parceiro {
  place-self: center;
  padding: 45px;
  max-height: 100%;
}
