.container-1-hp-coluna-2 img {
  width: 100%;
  border-radius: 5px;
  display: block;
  height: 100%;
  object-fit: cover;
}

body {
  color: var(--w);
}

.background-container-1-hp {
  background-color: var(--c12);
  box-shadow: inset 0px -120px 0px var(--w);
}

.container-1-hp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.container-1-hp-coluna-2 {
  justify-self: end;
  width: 100%;
  max-width: 640px;
}

.titulo-container-1-hp {
  color: var(--w);
  margin-top: 200px;
}

.texto-colorido {
  color: var(--p01);
}

.paragrafo-container-1-hp {
  margin-top: 32px;
  max-width: 40ch;
  color: var(--c05);
}

.botao-container-1-hp {
  margin-top: 20px;
}

.container-1-hp-coluna-1 {
  max-width: max-content;
  padding-bottom: 180px;
}

@media (max-width: 1700px) {
  .background-container-1-hp {
    padding: 0px 120px;
  }

  .container-1-hp-coluna-2 img {
    right: 120px;
  }
}

@media (max-width: 1360px) {
  .background-container-1-hp {
    padding: 0px 60px;
  }

  .container-1-hp-coluna-2 img {
    right: 60px;
  }
}

@media (max-width: 1280px) {
  .titulo-container-1-hp {
    margin-top: 0px;
  }
}

@media (max-width: 1130px) {
  .container-1-hp-coluna-1 {
    padding-bottom: 60px;
  }

  .paragrafo-container-1-hp {
    max-width: 35ch;
  }

  .container-1-hp-coluna-2 {
    max-width: 460px;
  }
}

@media (max-width: 960px) {
  .container-1-hp {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
    gap: 40px;
    padding-bottom: 60px;
  }

  .container-1-hp-coluna-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  .container-1-hp-coluna-2 {
    margin-bottom: 0px;
    max-width: 100%;
  }

  .container-1-hp-coluna-2 img {
    position: initial;
    height: auto;
  }

  .titulo-container-1-hp {
    margin-top: 80px;
    place-self: center;
    text-align: center;
  }

  .paragrafo-container-1-hp {
    text-align: center;
    place-self: center;
  }

  .botao-container-1-hp {
    place-self: center;
  }
}

@media (max-width: 550px) {
  .titulo-container-1-hp {
    margin-top: 40px;
  }

  .paragrafo-container-1-hp {
    max-width: 35ch;
  }
}
