.container-5-hp-background {
  background-color: var(--p01);
  position: relative;
}

.container-5-hp-background::before {
  content: url(../../src/logos-e-icones/detalhe-dots.svg);
  display: block;
  position: absolute;
  left: 650px;
  top: 40px;
}

.container-5-hp-background::after {
  content: url(../../src/logos-e-icones/detalhe-dots.svg);
  display: block;
  position: absolute;
  right: 40px;
  bottom: 40px;
  transform: rotate(180deg);
}

.img-container-5-hp img {
  max-width: 780px;
}

.container-5-hp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1920px;
  margin: 0 auto;
  align-items: end;
}

.conteudo-container-5-hp {
  padding-bottom: 80px;
  padding-left: 80px;
}

.conteudo-container-5-hp p {
  font-family: "Merriweather", serif;
  color: var(--p05);
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 3rem;
  font-style: italic;
  max-width: 22ch;
  margin-bottom: 32px;
  position: relative;
}

.conteudo-container-5-hp p::before {
  content: url(../../src/logos-e-icones/aspas-icone.svg);
  display: block;
  position: absolute;
  top: -20px;
  left: -40px;
}

.conteudo-container-5-hp p::after {
  content: url(../../src/logos-e-icones/aspas-icone.svg);
  display: block;
  position: absolute;
  bottom: -15px;
  right: -20px;
  transform: rotate(180deg);
}

.conteudo-container-5-hp span {
  font-family: "Poppins", arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--p04);
  font-weight: 600;
}

@media (max-width: 1280px) {
  .img-container-5-hp img {
    max-width: 610px;
  }

  .conteudo-container-5-hp {
    padding-bottom: 50px;
    padding-left: 80px;
  }

  .conteudo-container-5-hp p {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .conteudo-container-5-hp span {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  .container-5-hp-background::before {
    display: none;
  }

  .container-5-hp-background::after {
    display: none;
  }
}
