.btn-padrao {
  color: #332200;
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-padrao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 1280px) {
  .btn-padrao {
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 24px;
    white-space: nowrap;
  }
}

.max-w {
  max-width: 1440px;
  margin: 0 auto;
}

.padding-default {
  padding: 0px 220px;
}

@media (max-width: 1700px) {
  .padding-default {
    padding: 0px 120px;
  }
}

@media (max-width: 1366px) {
  .padding-default {
    padding: 0px 60px;
  }
}

@media (max-width: 960px) {
  .padding-default {
    padding: 0px 30px;
  }
}

@media (max-width: 550px) {
  .padding-default {
    padding: 0px 20px;
  }
}
