.txt-h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  max-width: 15ch;
}

.txt-p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
  max-width: 40ch;
}

.texto-colorido {
  color: #ffbb00;
}
